@page
@model IndexModel
@{
    ViewData["Title"] = "Учет заявок";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    <p>Ссылка на <a href="https://github.com/Test-user-TMK/TMK-test-tasks">GitHub</a>.</p>
</div>
