@page "/order/create"
@model TMK_tasks.Pages.Order.Create
@{
    ViewData["Title"] = "Добавление заказа";
}

<div class="container">
    <div class="row">
        <div class="col col-md-6 offset-md-3">
            <form method="post">
                <legend>Добавление заказа</legend>
                <div class="mb-3">
                    <label for="selectManufacturer" class="form-label">Цех-производитель</label>
                    <select asp-for="NewOrder.ManufacturerId" class="form-select" id="selectManufacturer">
                        @foreach (var manufacturer in Model.Manufacturers)
                        {
                            <option selected value="@manufacturer.Id">@manufacturer.Title</option>
                        }
                    </select>
                </div>
                <div class="mb-3">
                    <label for="dateDateStart" class="form-label">Дата начала</label>
                    <input type="date" asp-for="NewOrder.DateStart" class="form-control" id="dateDateStart" />
                </div>
                <div class="mb-3">
                    <label for="dateDateEnd" class="form-label">Дата окончания</label>
                    <input type="date" asp-for="NewOrder.DateEnd" class="form-control" id="dateDateEnd" />
                </div>
                <div class="mb-3">
                    <label for="selectState" class="form-label">Статус</label>
                    <select asp-for="NewOrder.StateId" class="form-select" id="selectState">
                        @foreach (var state in Model.States)
                        {
                            <option selected value="@state.Id">@state.Title</option>
                        }
                    </select>
                </div>
                <input class="btn btn-primary" type="submit" value="Добавить">
            </form>
        </div>
    </div>
</div>